<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body style="background: rgb(69,44,99);
background: linear-gradient(90deg, rgba(69,44,99,1) 0%, rgba(120,94,120,1) 50%, rgba(158,125,158,1) 100%);">
    <div style="margin: 0 auto; font-family:Arial, Helvetica, sans-serif">
        <nav style="font-style: italic; text-indent: 80px; color:blanchedalmond;">
            <h1 style="font-size: 45px; font-style: italic; text-indent: 80px; color:blanchedalmond;">Sleepyhead</h1>
        </nav>
        <div style="display:grid; color:blanchedalmond;">
            <div style="grid-column-start: 2; grid-column-end:2;">
                <!-- <h1 style="font-style: italic; ">Update User Info</h1>
                <form style="margin-top: -10px;" action="/register" method="POST">
                    <label for="fname" style="display:block;">First Name:</label>
                    <input type="text" name="fname">
                    <label style="display:block;" for="email">Email:</label>
                    <input type="text" name="email">
                    <label style="display:block;" for="password">New Password:</label>
                    <input type="password" name="password">
                    <label style="display:block;" for="confirm">Confirm New Password:</label>
                    <input type="password" name="confirm"><br>
                    <button style="margin: 0 auto; margin-top: 5px; background-color:rgb(69,44,99); border-color:rgb(69,44,99); border-radius: 15%;color:blanchedalmond; height: fit-content; font-size: 15px; font-family: Arial, Helvetica, sans-serif; font-weight:700; font-style: italic;">Update</button>
                </form> -->
            </div>
            <div style="grid-column-start: 3; grid-column-end:3;">
                <h1 style="font-style: italic; ">My Tips</h1>
                <table style="border-collapse: collapse; border: 5px dashed blanchedalmond;">
                    <th style="border: 1px dotted blanchedalmond;"><h3>Name</h3></th>
                    <th style="border: 1px dotted blanchedalmond;"><h3>Type</h3></th>
                    <th style="border: 1px dotted blanchedalmond;"><h3>Comments</h3></th>
                    <th style="border: 1px dotted blanchedalmond;"><h3>Rating</h3></th>
                    <tbody>
                        <tr>
                                <td style="border: 1px dotted blanchedalmond; padding:5px;">this is where jinja should render!</td>
                                <td style="border: 1px dotted blanchedalmond; padding:5px;">but it's ruining my life instead!</td>
                                <td style="border: 1px dotted blanchedalmond; padding:5px;">any tips for getting your left join statement to render?!</td>
                        </tr>
                        </tbody>
                    </table>

            </div>
            <div style="grid-column-start:4; grid-column-end:4; column-width: 200px; margin-right: 30px; text-align: left; font-style: italic;">
                <a href="/dashboard"><h1 style="color:blanchedalmond;">View All Sleep Tips</h1></a>
                <a style="color:blanchedalmond;" href="/newtip"><h1>Add a Sleep Tip</h1></a>
                <a style="color:blanchedalmond;" href="/logout"><h1>Logout</h1></a>
            </div>
        </div>
    </div>
</body>
</html>